*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* global class component center div */
.div-center{
  display: flex;
  justify-content: center;
  align-items:center;
}
.bgc-light-blue{
background-color: var(--light-blue);
}
.bgc-blue{
background-color: var(--blue);
}

:root {
  --blue: #0078F2;
  --white: #ffffff;
  --light-blue:#E8EFFF;
}


.chat-outer{
display: flex;
max-width: 100%;
height: 100vh;
overflow: hidden;
}

/* CHAT BOX */

.chat-box{
  flex: 0.77; 
  background-color:white ;
  display: flex;
  flex-direction:column;
}
.chat-navbar{
  flex:0.12;
  padding: 10px;
  border-bottom: 2px solid ;
  border-color: var(--light-blue);

}
.chat-display{
  flex: auto;
  background-color:white ;
  overflow-y: scroll;
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px ;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.chat-display::-webkit-scrollbar {
  display: none;
}
.chat-display {
-ms-overflow-style: none;  
scrollbar-width: none;  
}
.reciver-chat,.sender-chat{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  max-width: 65%;
  min-width: 5%;
  padding: 7px 10px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break:break-all;
  width: fit-content;
}
.reciver-chat{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  background-color: var(--light-blue);
  color: var(--blue); 
}
.sender-chat{
  margin-bottom: 5px; 
  margin-left: auto;
  border-bottom-right-radius: 0;
  background-color:var(--blue);
  color: var(--white);
}
.code-style-text-reciver,.code-style-text-sender{
  max-width: 65% ;
  min-width: 5%;
  margin-bottom: 5px;
}
.code-style-text-sender{
  margin-left: auto;
}
.sender-chat > a{
  color: var(--white);
}
.sender-chat > a :hover{
  color:rgb(210, 210, 210) !important;
} 
.reciver-name{
  font-size: 0.7rem;
  margin-right: 5px;
}
.sender-time{
  font-size: 0.7rem;
  margin-left: auto;
}
.reciver-time{
  font-size: 0.7rem;
}


/* CHAT TYPING STYLE */
.chat-type-textarea{
  resize: none;
}
.chat-type-textarea::-webkit-scrollbar{
  display: none;
}
.chat-typing-bar{
  padding: 5px;
  flex: 0.12;
}
.code-selected-button{
  background-color: var(--blue);
  padding: 10px;
  color: white;
}

/* SIDEBAR CHAT */

.appliaction-name{
  font-size: 1.3rem;
  margin-left:20px;
}
.sidebar-header-logo{
  height:45px;
  width: 45px;
}
.person-name{
  font-size: 1.1rem;
  font-weight: 500;
}

.sidebar-chat{
  margin: 10px;
}
.sidebar-chat-groupname{
  margin-bottom: 10px;
}
.sidebar-chat-groupname:hover{
  background-color: #E8EFFF;
  border-radius: 10px;

}
.appliaction-slidebar-header{
  padding: 5px;
}

.sidebar-box{
  flex: 0.23;
  padding:1px;
  background-color:white ;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color:var(--light-blue) ;
  display: flex;
  flex-direction: column;
}
.search-group{
  margin:0px 10px 7px 10px ;
}
.create-group-button{
  margin:0px 10px 7px 10px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.slidebar-chatbox{
  overflow-y: scroll;
  flex:auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.slidebar-chatbox::-webkit-scrollbar {
  display: none;
}
.slidebar-chatbox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
